<div class="tl-panel">
	<div class="tl-layout">
		<!-- Left Sidebar: Group list -->
		<div class="tl-sidebar">
			<div class="tl-sidebar-header">
				<input type="text" id="tl-search" class="tl-search" placeholder="{{localize 'TOKEN_LOOT.Manager.SearchGroups'}}" autocomplete="off">
				<button id="tl-add" class="tl-btn tl-btn-icon tl-primary" type="button" title="{{localize 'TOKEN_LOOT.Manager.AddGroup'}}"><i class="fas fa-plus"></i></button>
			</div>
			<div id="tl-group-list" class="tl-group-list">
				<!-- sidebar items injected here -->
			</div>
		</div>

		<!-- Right Detail: Selected group -->
		<div id="tl-detail" class="tl-detail">
			<div class="tl-detail-empty">
				<i class="fas fa-treasure-chest tl-detail-empty-icon"></i>
				<p>{{localize "TOKEN_LOOT.Manager.SelectGroupHint"}}</p>
			</div>
		</div>
	</div>
</div>